# AWS Region
aws_region = "us-east-1"

# Project Name
project_name = "my-app"

# Environment
environment = "dev"

# VPC CIDR Block
vpc_cidr_block = "10.0.0.0/16"

# Frontend Task Configuration
frontend_cpu = 256
frontend_memory = 512
frontend_desired_count = 2